<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="AdminEmail" value="admin@gmail.com"/>
    <add key="AdminFirstName" value="admin"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
  <add name="BoutiqueConnectionString" connectionString="Data Source=20162135-RAMASA;Initial Catalog=Boutique;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
     <defaultDocument>
            <files>
                <clear />               
                <add value="frmHome.aspx"/>
            </files>
        </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
      <error statusCode="403" redirect="ErrorPage.aspx?msg=403&amp;handler=customErrors%20section%20-%20Web.config"/>
      <error statusCode="401" redirect="ErrorPage.aspx?msg=401&amp;handler=customErrors%20section%20-%20Web.config"/>
      <error statusCode="500" redirect="ErrorPage.aspx?msg=500&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>
    <authorization>
      <deny users="?"/> <!-- deny access only to unauthenticated users of system,i.e allow access to all authenticated user of the system -->
    </authorization>
  </system.web>
</configuration>